<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <uploader action="/" size="2" num="5"></uploader>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.js"></script>
    <script>
        Vue.component('uploader', {
            template: `<div class="uploader-box">
                            <ul class="files flexbox" id="uploaderFiles">
                                <li class="file" v-for="previewImg ,index in previewImgList" :key="index">
                                    <span class="del" @click="delImg(index)">-</span>
                                    <img :src="previewImg"></img>
                                </li>
                                <li class="uploader_input-box" id="uploader_input-box" v-if="previewImgList.length<=num-1">
                                    <input id="uploaderInput" @change="uploader" class="uploader_input" type="file" accept="image/*" multiple="">
                                </li>
                            </ul>
                            <input type="hidden" v-for="uploaderImg ,index in uploaderImgList" v-model="uploaderImg">
                        </div>`,
            data:function(){
                return{
                    previewImgList:[ //预览的图片路径
                    "https://img.alicdn.com/bao/uploaded/i2/725677994/TB2LiKvabZnBKNjSZFhXXc.oXXa_!!725677994.jpg_160x160q90.jpg","https://img.alicdn.com/bao/uploaded/i2/725677994/TB2LiKvabZnBKNjSZFhXXc.oXXa_!!725677994.jpg_160x160q90.jpg"
                    ],
                    uploaderImgList:[ //提交的图片路径
                    "https://img.alicdn.com/bao/uploaded/i2/725677994/TB2LiKvabZnBKNjSZFhXXc.oXXa_!!725677994.jpg_160x160q90.jpg",
                    "https://img.alicdn.com/bao/uploaded/i2/725677994/TB2LiKvabZnBKNjSZFhXXc.oXXa_!!725677994.jpg_160x160q90.jpg"
                    ]
                }
            },
            props: ['action','size','num'],
            methods:{
                uploader:function(){
                    fileInput = document.getElementById('uploaderInput');
                    if(fileInput.files.length+this.previewImgList.length>this.num){
                        alert('最多还能上传'+(this.num-this.previewImgList.length)+'张图片')
                        return false;
                    }
                    for(i=0;i<fileInput.files.length;i++){
                        var file = fileInput.files[i];
                        var size = file.size;
                        if(size >= this.size*1024*1024){
                            alert('图片不能超过'+this.size+'M')
                            return false;
                        }
                        if(file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                            alert('不是有效的图片文件!')
                            return false;
                        }
                        // 读取文件
                        const reader = new FileReader();
                        const _this = this;
                        reader.onload = function(e) {
                            var data = e.target.result;
                            _this.previewImgList = _this.previewImgList.concat(data)
                            _this.$http.post(this.action,{data:data}).then(function(res){ //上传
                                if(res.data.code==1){
                                    this.uploaderImgList=this.uploaderImgList.concat(res.data.data)
                                }else{

                                }
                            })
                        };
                        reader.readAsDataURL(file);
                    }
                },
                delImg:function(index){
                    this.previewImgList.splice(index, 1);
                    this.uploaderImgList.splice(index, 1);
                }
            }
        })

        var app = new Vue({
            el: '#app',
        })
    </script>
</body>
</html>
